.inputs-section input {
    display: block;
}
.input-container {
    display: flex;
}

h2.numberInput{
    text-align: center;
}

h2 {
    color: #158FFA;
    border-bottom:1px solid #CCC;
    text-align:center;
}

span{
    position:relative;
    top:1px;
    display:inline-block;
    border-bottom:1px solid #AAA;
}